{%load static%}

Objet : Réinitialisation de votre mot de passe

Bonjour,

Vous avez demandé à réinitialiser le mot de passe de votre compte, et nous sommes là pour vous aider ! Cliquez simplement sur le bouton ci-dessous pour choisir un nouveau mot de passe en toute sécurité :

[Réinitialiser mon mot de passe]("{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}")

Si vous n’avez pas fait cette demande, pas de panique, vous pouvez ignorer cet email. Votre compte reste sécurisé.

À bientôt,

L’équipe [Tahi,Yvan,Andre,Anzouan,Kader]
        
   