{% extends 'online_school/base.html' %}
{% load static %}

{% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Enseignant</h1>
              <p class="mb-0">Vous etre connecte en temps que professeur ici ajouter des cours,des evaluations et des quiz</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'ajouter.html' %}">Ajouter cours</a></li>
            <li><a href="{% url 'ajouter.html' %}">Ajouter devoir</a></li>

          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

<!-- /Trainers Section -->

  </main>
{% endblock content %}